<section>
  <form accept-charset="UTF-8" action="/microposts" class="new_micropost" id="new_micropost" method="post">
    <div class="field">
      <textarea cols="40" id="micropost_content" name="text" placeholder="Compose new micropost..." rows="4"></textarea>
    </div>
    <input class="btn btn-large btn-primary" name="commit" type="submit" value="Post" />
  </form>
</section>
